doctype html
html
	head
		title landing_page
	body
		h1 The future home of jonny h
		p "Yr raw denim tousled, pickled authentic tattooed hella cliche crucifix salvia Austin 90's skateboard Shoreditch. Freegan four loko vegan kitsch street art, slow-carb Austin cronut tilde seitan VHS. Jean shorts fashion axe tofu banjo, pop-up hella quinoa leggings."